ul {
    padding-left: 0;
}

li {
    list-style: none;
    margin: 18px;
    padding: 2px;
}

li a,p{
    color: var(--color-p);
}

.CW__footer {
    display: flex;
    padding: 4rem 10rem;
}

.CW__footer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CW__footer-topBar {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 40%;
    margin-bottom: 30px;
}

.CW__footer_topBar_aboutCompany-content span {
    color: var(--color-orange);
}

.CW__footer_topBar_aboutCompany-content h1 {
    font-size: 3em;
    margin-bottom: 1rem;
    color: var(--color-green);
}

.CW__footer_topBar_aboutCompany-img {
    margin-top: 40px;
}

.CW__footer_topBar_aboutCompany-img img {
    margin-right: 15px;
}

.CW__footer_topBar-contactWays {
    display: flex;
    gap: 20%;
}

@media screen and (max-width: 1000px) {
    
    .CW__footer-topBar {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .CW__footer_topBar-contactWays {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }
}

@media screen and (max-width: 700px) {
    .CW__footer {
        padding: 4rem 5rem;
    }
}

@media screen and (max-width: 700px) {
    .CW__footer {
        padding: 4rem;
    }
}